<!doctype html>
<html class="no-js" lang="bimamaarschal">

<%- include('partials/head') %>

	<body>
		<%- include('partials/header3') %>
			<section class="appointment">
				<div class="container" style="padding-bottom: 150px;">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="section-title">
								<h2> <i class="fa-regular fa-id-card"></i> Daftar Akun</h2>
								<p style="font-size: 13px;">Silahkan lengkapi data awal, untuk dapat mengunakan layanan
									Solusi
									Adil</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<form class="form" action="/register" method="POST" onsubmit="return validateForm()">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-12" style="display: none;">
										<div class="form-group">
											<small>ID Solusi Adil Anda</small>
											<input style="font-weight: bolder; color: black;" id="id_masyarakat"
												name="id_masyarakat" type="text" readonly>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<small>NIK / No SIM / No Induk Pegawai/Mahasiswa</small>
											<input id="nik" name="nik" type="text" oninput="validateNik(this)">
											<small id="error-message-nik" style="color:red; display:none;">Hanya Angka
												0-9 dan
												tidak lebih dari 13 karakter</small>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<small>Nama sesuai KTP</small>
											<input id="nama" name="nama" type="text" oninput="validateNama(this)"
												required>
											<small id="error-message-nama" style="color:red; display:none;">Hanya
												Alfabet A-Z
												dan tidak lebih dari 150 karakter</small>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<small>Email - Pastikan gunakan format email / @...</small>
											<input id="email" name="email" type="email" required>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<small>Tanggal Lahir</small>
											<input id="tgl_lahir" type="date" name="tgl_lahir" required>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<small>Jenis Kelamin</small>
											<select class="form-control wide" id="jenis_kelamin" name="jenis_kelamin"
												required>
												<option value="Pilih" disabled selected>Pilih</option>
												<option value="Pria">Pria</option>
												<option value="Wanita">Wanita</option>
											</select>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<small>Nomor Telepon - Gunakan format 0 contoh 0821</small>
											<input id="no_tlp" name="no_tlp" type="text"
												onkeydown="validateFirstDigit(event)" oninput="validateTLP(this)"
												required>
											<small id="error-message-tlp" style="color:red; display:none;">Hanya
												mengandung
												angka dan maksimal 13 digit</small>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-12">
										<div class="form-group">
											<small>Alamat Domisili</small>
											<input id="alamat" name="alamat" type="text" id="alamat" required>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-12">
										<div class="form-group">
											<small>Sandi</small>
											<input id="password" name="password" type="password"
												oninput="validatePassword(this)" required>
											<small id="password-message" style="color:red; display:none;">Sandi masih
												beresiko.
												Gunakan lebih dari 8 karakter dan mengandung alfabet serta angka</small>
											<small id="password-safe-message" style="color:green; display:none;">Sandi
												sudah
												baik</small>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-7 col-md-8 col-12">
										<p>Apakah Anda sudah memiliki akun Solusi Adil ? <a href="masuk"
												style="background: black; color: white; padding: 10px;">Masuk</a></p>
									</div>
									<div class="col-lg-5 col-md-4 col-12">
										<div class="form-group text-lg-right text-md-right text-center">
											<div class="get-quote">
												<button type="submit" class="btn">Daftar</button>
											</div>
										</div>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</section>
			
			<%- include('partials/footer') %>
				<%- include('partials/js') %>
				<script>
					document.addEventListener('DOMContentLoaded', (event) => {
						const today = new Date();
						const year = today.getFullYear();
						const month = ('0' + (today.getMonth() + 1)).slice(-2);
						const day = ('0' + today.getDate()).slice(-2);
						const maxDate = '2010-12-31';
						const minDate = '1900-01-01';
						const inputDate = document.getElementById('tgl_lahir');
						inputDate.setAttribute('max', maxDate);
						inputDate.setAttribute('min', minDate);
					});
				</script>
					<script src="function/daftar.js"></script>

	</body>

</html>