<!doctype html>
<html class="no-js" lang="bimamaarschal">

<%- include('partials/head') %>

	<body>

		<%- include('partials/header2', { activePage: 'layanan' }) %>
	<div class="textawal3 overlay" style="margin-bottom: 100px;">
		<div class="container">
			<div class="textawal3-inner">
				<div class="row">
					<div class="col-12">
						<h2 style="font-size: 25px; font-weight: 100;">Layanan Solusi Adil</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- TextAwal - Akhir-->

	<!-- Fitur - Awal -->
	<section class="solusiadil-fitur" style="padding-top: 300px; padding-bottom: 350px;">
		<div class="container">
			<div class="solusiadil-fitur-inner">
				<div class="row" style="padding-bottom: 80px; padding-top: 50px;">
					<div class="col-lg-4 col-md-6 col-12 ">
						<div class="solusiadil-fitur-single first">
							<div class="inner">
								<div class="icon">
									<i class="fa-solid fa-scale-balanced"></i>
								</div>
								<div class="single-content">
									<h4>Konsultasi Hukum Online</h4>
									<p style="font-size: 12px;">Konsultasi Hukum Online: Solusi cepat dan akurat untuk
										setiap permasalahan hukum
										Anda.</p>
									<a href="/konsultasi">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="solusiadil-fitur-single middle">
							<div class="inner">
								<div class="icon">
									<i class="fa-solid fa-gavel"></i>
								</div>
								<div class="single-content">
									<h4>Cari Panduan Hukum</h4>
									<p style="font-size: 13px;">Temukan Kepastian Hukum Anda: Cari Panduan Hukum yang
										Jelas dan Terpercaya di
										Sini.</p>
									<a href="/datapanduan">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-12">
						<div class="solusiadil-fitur-single last">
							<div class="inner">
								<div class="icon">
									<i class="fa-solid fa-folder-open"></i>
								</div>
								<div class="single-content">
									<h4>JDIH</h4>
									<p style="font-size: 12px;">Jelajahi keadilan dan informasi hukum melalui JDIH,
										pintu akses utama untuk
										pemahaman dan kepatuhan hukum.</p>
									<a href="/dataaturan">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row" style="padding-bottom: 80px; ">
					<div class="col-lg-4 col-md-6 col-12 ">
						<div class="solusiadil-fitur-single first">
							<div class="inner">
								<div class="icon">
									<i class="fa-solid fa-book"></i>
								</div>
								<div class="single-content">
									<h4>Blog Hukum</h4>
									<p style="font-size: 12px;">Bacaan pengetahuan hukum untuk solusi cepat dan akurat
										untuk
										setiap permasalahan hukum
										Anda.</p>
									<a href="/datablog">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="solusiadil-fitur-single middle">
							<div class="inner">
								<div class="icon">
									<i class="fa-brands fa-whatsapp"></i>
								</div>
								<div class="single-content">
									<h4>Bergabung Dalam Grub</h4>
									<p style="font-size: 13px;">Temukan Kepastian Dan Kepercayaan Hukum Anda bersama
										adengan priofesional di bidangnya</p>
									<a href="/gabung">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- Fitur - Akhir -->
	<!-- Bergabung - Awal -->
	<section id="bergabung" class="solusiadil-bergabung section">
		<div class="container">
			<div class="row ">
				<div class="col-lg-6  col-12">
					<div class="subscribe-text ">
						<h6 style="font-size: 20px;">Bergabung di WhatsApp</h6>
						<p  style="font-size: 12px;">Bergabunglah di WhatsApp Solusi Adil untuk mendapatkan informasi eksklusif terkait
							hukum dan interaksi langsung dengan ahli.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Galeri - Akhir -->

	<%- include('partials/footer') %>

	<%- include('partials/js') %>

</body>

</html>