<!doctype html>
<html class="no-js" lang="bimamaarschal">

<%- include('partials/head') %>
<script src="https://www.google.com/recaptcha/enterprise.js?render=6LerQy4qAAAAAPHtQZrXfHR6ELXzY8_NubFZBCBX"></script>
	<body>
		<%- include('partials/header3') %>

			<section class="appointment">
				<div class="container" style="padding-bottom: 150px;">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="section-title">
								<h2> <i class="fa-solid fa-key"></i> Masuk</h2>
								<p style="font-size: 13px;">Maaf, Anda belum masuk Solusi Adil <br> Silahkan masuk untuk
									memulai
									semua
									fitur Solusi Adil</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-6 col-6">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-12">
									<form class="form" action="/login" method="POST" id="login-form">
										<div class="row">
										  <div class="col-lg-12 col-md-6 col-12">
											<div class="form-group">
											  <small>SOLUSI ADIL ID Akun - 9 Digit Angka Saat Anda Mendaftar Akun</small>
											  <input id="id_masyarakat" name="id_masyarakat" type="number" oninput="validateLength(this)">
											  <small id="error-message" style="color:red; display:none;">ID hanya terdiri dari 9 angka acak</small>
											</div>
										  </div>
										  <div class="col-lg-12 col-md-6 col-12">
											<div class="form-group">
											  <small>Sandi</small>
											  <input id="password" name="password" type="password">
											</div>
										  </div>
										</div>
										<div class="row">
										  <div class="col-lg-7 col-md-8 col-12">
											<p style="font-size: 12px;">Apakah Anda belum memiliki akun Solusi Adil? <a href="daftar" style="background: black; color: white; padding: 10px;">Daftar</a></p>
											<br>
											<p style="font-size: 12px;">Apakah Anda lupa kata sandi? <a href="lupa" style="background: black; color: white; padding: 10px;">Solusi</a></p>
										  </div>
										  <div class="col-lg-5 col-md-4 col-12">
											<div class="form-group text-lg-right text-md-right text-center">
											  <div class="get-quote">
												<button type="submit" class="g-recaptcha btn"
												  data-sitekey="6LerQy4qAAAAAPHtQZrXfHR6ELXzY8_NubFZBCBX"
												  data-callback="onSubmit"
												  data-action="submit">Masuk</button>
											  </div>
											</div>
										  </div>
										</div>
									  </form>
									  
								</div>
							</div>
						</div>
			</section>

			<%- include('partials/footer') %>
			<%- include('partials/js') %>
			<script>
				function onSubmit(token) {
				  document.getElementById("login-form").submit();
				}
			  </script>
			<script src="function/masuk.js"></script>

	</body>

</html>