<!doctype html>
<html class="no-js" lang="bimamaarschal">

<%- include('partials/head') %>

	<body>
		<%- include('partials/header3') %>

			<section class="appointment">
				<div class="container" style="padding-bottom: 150px;">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="section-title">
								<h2> <i class="fa-solid fa-key"></i> Masuk</h2>
								<p style="font-size: 13px;">Maaf, Anda belum masuk Solusi Adil <br> Silahkan masuk untuk
									memulai
									semua
									fitur Solusi Adil</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-6 col-6">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-12">
									<form class="form" action="/login" method="POST">
										<div class="row">
										  <div class="col-lg-12 col-md-6 col-12">
											<div class="form-group">
											  <small>No ID Referensi Anda Saat Anda Mendaftar Akun (NIK/NIM/NoSIM)</small>
											  <input id="nik" name="nik" type="number" oninput="validateLength(this)" required>
											  <small id="id-error-message" style="color:red; display:none;">Maksimal hanya terdiri dari 13 angka</small>
											</div>
										  </div>
										  <div class="col-lg-12 col-md-6 col-12">
											<div class="form-group">
											  <small>Sandi</small>
											  <input id="password" name="password" type="password" required>
											</div>
										  </div>
										  <div class="col-lg-12 col-md-6 col-12">
											<div class="form-group">
											  <small style="font-weight: bolder;">Mohon isi Captcha, berapa hasil dari <span id="num1"></span> + <span id="num2"></span> = </small>
											  <input id="captcha" type="number" required>
											  <small id="captcha-error-message" style="color:red; display:none;">Captcha salah. Silakan coba lagi.</small>
											</div>
										  </div>
										</div>
										<div class="row">
										  <div class="col-lg-7 col-md-8 col-12">
											<p style="font-size: 12px;">Apakah Anda belum memiliki akun Solusi Adil? <a href="daftar" style="background: black; color: white; padding: 10px;">Daftar</a></p>
											<br>
											<p style="font-size: 12px;">Apakah Anda lupa kata sandi? <a href="lupa" style="background: black; color: white; padding: 10px;">Solusi</a></p>
										  </div>
										  <div class="col-lg-5 col-md-4 col-12">
											<div class="form-group text-lg-right text-md-right text-center">
											  <div class="get-quote">
												<button type="submit" class="btn">Masuk</button>
											  </div>
											</div>
										  </div>
										</div>
									  </form>
								</div>
							</div>
						</div>
			</section>

			<%- include('partials/footer') %>
			<script>
				document.addEventListener("DOMContentLoaded", function() {
				function generateCaptcha() {
					const num1 = Math.floor(Math.random() * 10);
					const num2 = Math.floor(Math.random() * 10);
					const correctAnswer = num1 + num2;
					document.getElementById('num1').innerText = num1;
					document.getElementById('num2').innerText = num2;
					return correctAnswer;
				}
				let correctAnswer = generateCaptcha();
				document.querySelector("form").addEventListener('submit', function(event) {
					const userAnswer = parseInt(document.getElementById('captcha').value, 10);
					if (userAnswer !== correctAnswer) {
					event.preventDefault();
					document.getElementById('captcha-error-message').style.display = 'block';
					correctAnswer = generateCaptcha();
					} else {
					document.getElementById('captcha-error-message').style.display = 'none';
					}
				});
				});
			  </script>
			<%- include('partials/js') %>
			<script src="function/masuk.js"></script>


	</body>

</html>